[Unit]
Description=lightningd
Requires=bitcoind.service
After=network.target bitcoind.service

[Service]
EnvironmentFile=/etc/default/lightning
ExecStart=/usr/bin/lightningd ${LIGHTNINGD_OPTS}
User=bitcoin
Restart=always
PrivateTmp=true

[Install]
WantedBy=multi-user.target
