[Unit]
Description=eclair lightning network daemon
After=network.target

[Service]
EnvironmentFile=/etc/default/eclair
WorkingDirectory=/data/eclair
ExecStart=/usr/bin/java $JAVA_OPTS -jar /usr/local/bin/eclair-node.jar
RuntimeDirectory=eclair
User=eclair
PrivateTmp=true
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
